@import 'global.css';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.imagem{
max-width: 50%;
max-height: 50%;
}

.range{
    width: 300px;
    display: none;
    
}

.hidden{
    display: none;
    
}

.show{
    display: block;
    animation: menu .5s ease-in-out forwards;
}

.menu {
    display: none;
    text-align: center;
    font-size: 2rem;
}

.menu li{
    margin: 20px 0px;
}

#menu {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
}

#menu:hover{
    cursor: pointer;
}

.range {
    margin: 15px 0px;
}

#inputFile{
    font-size: 1.8rem;
}
@keyframes menu {
    from{
        filter: blur(10px);
    }
    to{
        filter: blur(0px);
    }
}